<li id="page_Text">
  <div class="box">
  
          <ul id="sub_menu">  
            <li><a href="#!/page_Text" onClick="return drawDiv('msg_report');">Sent Messages</a> </li> 
            {% if super_user or private_user %} 
              <li><a href="#!/page_Text" onClick="drawDiv('msg_report'); deleteform();">Delete a report</a></li>
            {% endif %}
              <li><a href="#!/page_Text" onClick="return clearAll('send_text');">Clear</a></li> 
          </ul>              
  
  	<div class="wrapper">
                        	
   	  <div class="col1">
                       <div id="texting" style="display:block;">
                      {% if credit.credit < 30 %}
                       <h6 id="err">{{credit.credit}} units on your account!</h6>
                      {% else %} 
                       <h6><a href="#">{{credit.credit}}</a> units on your account!</h6>
                      {% endif %}
                          <form name="textForm" id="textForm">
                             {% csrf_token %}
                             {% for field in send %}
                                 {{ field.label }}<br />
                                 {{ field }}
                             {% endfor %}
                             
                             Message<br />
                             <textarea id="text_message" rows="10" cols="40" name="message" class="form-control" onkeyup="return counter('send_Response', 'text_message');">
                                 </textarea>
                                 
             {% if credit.credit < 30 %}
                  <em id="err">Please rechearge to activate this feature!</em>
             {% else %}
            <div class="btns">&nbsp;&nbsp;
<input type="button" class="button1" value="Text" onClick="return TextForm()">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="reset" class="button1" value="Clear"></div>
             {% endif %}
                      </form>
                        <div id="send_Response"style="width:320px;"></div>             
                    </div>
            
                   
                      <div id="delete_report" style="display:none;">
            {% if super_user or private_user %}   
                          <form name="report_deleteForm" id="report_deleteForm">
<input class="form-control" id="report_query" type="text" name="report_query" maxlength="20" placeholder="delete by date (yyyy-mm-dd)" value="" />
<img src="/static/admin/img/icon_deletelink.gif" onClick="return deleteform()" alt="Delete" height="20px" width="20px" />
   </form>
             {% endif %}

                      </div>

                          </div>
             
    <div class="col2 pad_left1" id="main_report" style="display:none;overflow:hidden;width:315px;background:#f2f2f2;">

            <form name="report_searchForm" id="report_searchForm" >
                       {% csrf_token %}
<input class="form-control" id="report_query" type="text" name="report_query" maxlength="20" placeholder="type the date as yyyy-mm-dd" value="" />
<img src="/static/admin/img/icon_searchbox.png" onClick="return report_search();" alt="Search" height="23px" width="23px" />
                  </form>
   <div id="msg_report" style="overflow:scroll;width:350px;height:350px;overflow-x:hidden" ><div >
 
              </div>
        </div>
      </div>
   </li>

