{% if user.is_authenticated %}

<h1><a href="#close" id="logo">Tick</a></h1>
{% if user.is_authenticated %}
    <span id="greeting">
      <a href="/logout/" onClick="return networkConnection()">Hi, {{user.username}}. Sign Out!</a>
    </span>
    <span id="time"></span>
{% endif %}
<nav class="menu">
 <ul id="menu">
  <li><a href="#!/page_Home">Home</a></li>
  <li><a href="#!/page_Text" >Text</a></li> 
  <li><a href="#!/page_Calendar" >Calendar</a></li>
  <li><a href="#!/page_PhoneBook" >PhoneBook</a></li>
  <li><a href="#!/page_Members">Staff Members</a></li>
  </ul>
 </li>
</nav>
{% endif %}

