       <li id="page_About">
		<div class="box">
                  

                        	<h2><a href="#">About Us</a></h2>
                          <div class="wrapper">

                              <p class="pad_bot1"><h4><a href="#">Our Mission</a></h4></p>
                            <figure class="left marg_right1"><img src="/static/images/icon-print.png" alt=""></figure>
                              <p class="pad_bot1"><h4><a href="#">Our Coverage</a></h4></p>

                            

                          
                          </div>
                           	
                    </div><!--box end-->
                </li><!--li end-->


