{% if user.is_authenticated %}
<li id="page_Home">
   <div class="box">
     <div class="wrapper">

<ul id="profile_menu">
{% if name %}
   <li><a href="#!/page_Home" onclick="return home();">{{ name }}'s profile </a></li>
{% else %}
   <li><a href="#!/page_Home" onclick="return home();">{{ user.username }}'s profile </a></li>
{% endif %}
</ul>
<br />
 	<div class="col1">

  <!--------------Links to reply, send message, search for a user, delete a message--------------------->

                   || <a href="#!/page_Home" onClick="return sync_ticks('un_read');">Inbox</a> ||
                   <a href="#!/page_Home" onClick="return sync_ticks('all');">All Ticks</a> ||
                   <a href="#!/page_Home" onClick="return drawDiv('chat_send');">Send a Tick</a> ||
                   <a href="#!/page_Home" onClick="return drawDiv('reply_send');">Reply a Tick</a> || 
                   <a href="#!/page_Home" onClick="return chat_delete();">Delete a Tick</a> ||
                   <a href="#!/page_Home" onClick="return mark_read();">Mark read</a> ||

<!----------------------------links above------------------------------------------------------>


<!--------------unread inbox--------------------->
  <div style="overflow:hidden;width:435px;background:#f2f2f2;">
   <div id="inbox_unread" style="display:none;overflow:scroll;width:450px;height:330px;overflow-x:hidden"></div>
  </div>
<!-- --------------end of unread--------------------------->

<!-- --------------all ticks--------------------------->
   <div style="display:block;overflow:hidden;width:435px;background:#f2f2f2;">
      <div id="all_ticks"style="display:block;overflow:scroll;width:450px;height:330px;overflow-x:hidden">
<!--------------search for auser--------------------->
 
  <form name="user_searchForm" id="user_searchForm">
  {% csrf_token %}
 <input class="form-control" id="user_query" type="text" name="user_query" maxlength="16" placeholder="search for a friend!" />
 <img src="/static/admin/img/icon_searchbox.png"  onClick="return search_user('not_on_fly');"alt="Search" height="23px" width="23px" />
</form><br />
 
  <table>
   <tr>
     <td style="padding-left:10px;">
        {% if members.thumbnail %}
        <img class="img-circle" src="{{ members.thumbnail }}" >
        {% else %}
        <img class="img-circle" src="/static/images/tick.png" >
        {% endif %}
     </td>
     
     <td id="info">
        Name:&nbsp;&nbsp;&nbsp;{{members.full_name}}<br />
        Location:&nbsp;&nbsp;{{members.country}}<br />
        About Us:&nbsp;&nbsp;{{members.short_desc}}<br /> 
     </td>
   </tr>
  </table>
      
  <br /><br />
    <ul id="profile_menu">
       <li><a href="#!/page_Home" onclick="return drawDiv('edit_profile');">Edit Profile </a></li>
       <li><a href="#!/page_Home" onclick="return drawDiv('change_pword');">Edit Password</a></li>
    {% if super_user or private_user %}
       <li><a href="#!/page_Home" onclick="return drawDiv('change_acc');">Change Account</a></li>
     {% endif %}
    </ul>         

      </div>          
   </div>
<!-- --------------end of all tick--------------------------->

<div id="chat_res"></div>
 	
 	</div>

   <div class="col2 pad_left1" id="left_div">
<br />
<!-- ----------------the chat form--------------------------->

  <div id="tick_form_div" style="display:none;">
    <form name="form_tick" id="form_tick">
       Username to Tick<br />
       <input id="username" class="form-control" type="text" name="username" maxlength="15" />     
       
       Tick to send<br />
       <textarea class="form-control" id="tick_chat" rows="10" cols="25" name="tick_chat"></textarea>

      <div class="btns">
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    
         <input type="button" class="button1" value="Tick" onClick="return send_chat();">
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;        
         <input type="reset" class="button1" value="Clear">
      </div>                             
    </form>
  </div>  
<!-- ----------------the chat form--------------------------->

<!-- ----------------the  reply form--------------------------->
  <div  id="reply_form_div" style="display:none;">
    <form name="reply_form" id="reply_form">
       Tick to send<br />
       <input type="hidden" name="Username" id="Username" value="{% if name %}{{ name }}{% else %}{{ user.username }}{% endif %}" />
       <textarea class="form-control" id="tick_reply" rows="10" cols="25" name="tick_reply"></textarea>
      <div class="btns">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;      
         <input type="button" class="button1" value="Tick" onClick="return reply_tick();">
      </div>                             
    </form>
  </div>  
<!-- ----------------the reply form--------------------------->

<!-- ----------------edit_acc_form_div--------------------------->
<div  id="edit_acc_form_div" style="display:none;">
    <form method="post" action="/profile_edit/"  onSubmit="return edit_acc();" enctype="multipart/form-data" name="edit_acc_form" id="edit_acc_form" >
       {% csrf_token %}
       <input type="hidden" name="Username" id="Username" value="{% if name %}{{ name }}{% else %}{{ user.username }}{% endif %}" />
       Your full name<br />
       <input class="form-control" type="text" name="edit_full_name" id="edit_full_name" />
       Your Contact<br >
       <input class="form-control" type="text" name="edit_contact" id="edit_contact" />
       Asimple description about you<br />
       <textarea class="form-control" id="edit_desc" rows="5" cols="25" name="edit_desc"></textarea>
       Upload your logo/photo<br >
       <input type="file" name="thumbnail" id="thumbnail" />

      <div class="btns">
          &nbsp;&nbsp;&nbsp;      
         <input type="submit" class="button1" value="Tick">
          &nbsp;&nbsp;&nbsp;      
         <input type="reset" class="button1" value="Clear" >
      </div>                             
    </form>
</div>  
<!-- ----------------edit_acc_form_div--------------------------->

<!-- ----------------change_pword_form_div--------------------------->
<div  id="change_pword_form_div" style="display:none;">
    <form name="change_pword_form" id="change_pword_form">
       {% csrf_token %}
       <input type="hidden" name="Username" id="Username" value="{% if name %}{{ name }}{% else %}{{ user.username }}{% endif %}" />
       New Password<br />
       <input class="form-control" type="password" name="change_password" id="change_password" />
       New password(Again)<br >
       <input class="form-control" type="password" name="change_password1" id="change_password1" /><br />
      <div class="btns">
          &nbsp;      
         <input type="button" class="button1" value="Change Password"  onClick="return pword_change();" >
      </div>                             
    </form>
</div>  
<!-- ----------------change_pword_form_div--------------------------->

<!-- ----------------change_acc_form_div--------------------------->
<div  id="change_acc_form_div" style="display:none;">
  {% if super_user or private_user %}

    <form name="change_acc_form" id="change_acc_form">
      {% csrf_token %}
      {% if members.acc_type == "public" %}
         <img src="/static/images/privateAcc.png" width="100px" height="100px">     
         <input type="button" class="button1" value="Private" onClick="return acc_change('private');"><br />
         <p style="color:black;font-size:15px; width:230px;">
           <strong>NOTE:</strong>&nbsp;&nbsp;All the information about your staff will be lost parmanently!!
         </p>
      {% elif members.acc_type == "private" %}
         <img src="/static/images/publicAcc.png" width="100px" height="100px">      
         <input type="button" class="button1" value="Organization" onClick="return acc_change('public');">
      {% endif %}
    </form>

  {% endif %}  
</div>  
<!-- ----------------change_acc_form_div--------------------------->
   
   </div>
<!-- --------------end of col2 pad_left1--------------------------->
  </div>
 </div>
</li>


{% else %}

<li id="page_Home">
<div class="box">
<div class="wrapper">




<h2><img src="/static/images/tick.png"height="50px"width="40px">Tick<sup>&trade;</sup>.</h2>
<strong id="desc">Your Online Communication center!</strong>						  

 <div  id="my_first" >
   <div id="plans">

    <div id="plan1">
    <a href="#!/page_Sign-Up">
    <h2>Sign Up<sup>**</sup></h2>
    <ul>
    <li class="price"><strong>Free</strong> of charge!*</li>
    <li>Get <strong>500 Units</strong><sup>*)</sup></li>
    <li>On your <strong>Private</strong> or <strong>Orgaization</strong> account</li>
    </ul>
    </a><br />
       <a href="#!/page_Services"><img src="/static/images/read-more.png"></a>
    </div>

    <div id="plan2">
    <a href="#!/page_Login">
    <h2>Sign In<sup>**</sup></h2>
    <ul>
    <li>to access your <strong>account</strong> and get to use your <strong>application</strong><sup>*</sup></li>
    </ul></a><br />
    <a href="#!/page_Services"><img src="/static/images/read-more.png"></a>
    </div>

    <div id="plan3">
    <a href="#!/page_Services">
    <h2>Services<sup>**</sup></h2>
    <ul>
    <li></li>
    <li><strong>Text Messaging<sup>**</sup></strong></li>
    <li></li>
    <li><strong>Calendar<sup>**</sup></strong></li>
    <li></li>
    <li><strong>PhoneBook<sup>**</sup></strong></li>
    <li></li>
    <li><strong>Add Staff Members</strong></li>
    </ul></a><br />
    <a href="#!/page_Services"><img src="/static/images/read-more.png"></a>
    </div>

 </div>

<form action="/login/" method="post" name="LoginForm" >
   {% csrf_token %}
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <input id="id_username" type="text" name="username" placeholder="username"maxlength="100" />
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <input id="id_password" type="password" name="password" placeholder="password"maxlength="30" />
  <input type="submit" value="Sign In">
</form>
</div>

</div>
</div>
</li>
{% endif %}
