<li id="page_Services">
  <div class="box">
         <h3>Tick&trade;  Services.</h3>
         <ul id="profile_menu">
          <li><a href="#accounts">More on Accounts</a></li>
          <li><a href="#text">Text Messaging</a></li>
          <li><a href="#cal">Calendar</a></li>
          <li><a href="#phonebook">Phonebook</a></li>
         </ul>
      	<br />
	   	<div class="wrapper" style="overflow:hidden;width:810px;">
   
        <div style="overflow:scroll;width:825px;height:300px;overflow-x:hidden">


  <!-----------------accounts -------------------------->
          <div id="accounts" style="height:300px;">
            <h5><img src="/static/images/accounts.png" height="50px" width="50px">Account Types.</h5>
             
             <p>
             <strong>Tick&trade;</strong> offers two types of accounts. A <strong>Private</strong> and an <strong>Organization</strong> account.<br />
             In the <strong>Organization</strong> account, you get the <strong>Phonebook</strong>, <strong>Calendar</strong>, <strong>Text Messaging</strong> and an addition option of adding the <strong>Organization's Staff members</strong>.<br />
             The <strong>Staff Members</strong> can also <strong>Sign In</strong> in the <strong>Organization's</strong> account and view the information though they can not change<em>(edit, delete or add)</em> any information to the account.<br />
             
             For the <strong>Private</strong> account, all the <strong>Apps </strong> are available except adding <strong>Staff Members.</strong><br />
             
               <strong>NB:</strong> When you <strong>Sign Up</strong> for the account, you get <strong>500 Units</strong> free for testing. With <strong>500 Units</strong>, thats is to say <strong>16 text Messages</strong>
               So <strong>Sign Up</strong> for your account today!
             </p>
             
          </div>
  <!-----------------accounts -------------------------->


  <!-----------------text messaging -------------------------->
          <div id="text" style="height:300px;">
           <h5><img src="/static/images/text.png" height="50px" width="50px">Text Messaging.</h5>
            <p>
              <strong>Tick&trade; Text</strong> anables you:<br /> 
              To send as many <strong>Text Messages</strong> as you can afford to any part of the <strong>World</strong> at avery low cost,<br />
              Get instant reports on the activities on your account (for both <strong>Private</strong> and <strong>Organization</strong> accounts).<br />
               
            </p>
          </div>
  <!-----------------text messaging -------------------------->

  <!-----------------calendar -------------------------->
          <div id="cal" style="height:300px;">
           <h5><img src="/static/images/calendar.png" height="50px" width="50px">Calendar.</h5>
            <p>
              <strong>Tick&trade; Calendar</strong>, lets you schedule events and sends you notifications proir to the <strong>D-day</strong>.<br />
              An <strong>Event Priority</strong>, defines how many reminders you will receive.<br />
                <strong>High</strong> ===> Tick&trade;, sends three(3) notifications to you before the D-day, or<br />
                <strong>Medium</strong> ===> Tick&trade;, sends two(2) notifocations to you before the D-day, or <br />
                <strong>Low</strong> ===> Tick&trade;, will send ony one(1) notification before the D-day.<br />
                
                An <strong>Event </strong> can be <strong>Public or Private:</strong><br />
                
                <strong>Public </strong> means that you can add people to the event and they too will also receive the notifications.<br />
                For <strong>Private events</strong>, notifications are sent to only the account owner.<br />
                
                <strong>NB:</strong> The notifications are by <strong>text messages</strong> and <strong>e-mails</strong> only.
            </p>
          </div>
  <!-----------------calendar -------------------------->

  <!-----------------phonebook-------------------------->
          <div id="phonebook"style="height:300px;">
            <h5><img src="/static/images/phonebook.png"height="50px"width="50px">Phonebook.</h5>
            <p>
             <strong>Tick&trade; Phonebook </strong>is an app that lets you back up all your contacts in the same palce.<br />
             While saving your <strong>Contacts </strong>, you can specify the <strong>Group</strong> in which they belong to.
             Send <strong>Texts</strong> to every one in the <strong>Phonebook</strong> or send to a a specific <strong>Group</strong>.<br />
             <strong>NB:</strong> To send to every one in the <strong>Phonebook</strong>, specify the <strong>Group as "all".</strong> 
            </p>
          </div>
  <!-----------------phonebook -------------------------->



        </div>
    </div>
  </div>
</li>

