<!DOCTYPE html>
<html lang="en">
<head>
  <title>
    {% if user.is_authenticated %}
        {% if name %}
        
           Tick:: {{ name }} in {{ user.username }}
        
        {% else %}
           
           Tick:: {{ user.username }}
           
        {% endif %}
        
    {% else %}
        Tick::A Revelation!
    {% endif %}
  </title>
  <meta charset="utf-8">
  
   {% include 'header_tags.html' %}
   
</head>

<body onload="startTime()">
	<div class="page_spinner">
		<div></div>
	</div>
		<div class="main">
			<!--header -->
			<header>
			{% if user.is_authenticated %}
	           
	            {% if private_user %}

           			 {% include 'tick_private/private_links.html' %}
	            
	            {% else %}

          			 {% include 'tick_org/org_links.html' %}
	            
	            {% endif %}
	
			{% else %}

     			 {% include 'links.html' %}

			{% endif %}
			</header>
			<!--header end-->
			<!--content -->
			<article id="content"><div class="ic"></div>
				<ul>
<!------------------------------if the user is authenticated------------------------------->
        {% if user.is_authenticated %}
<!------------------------------if the user is authenticated------------------------------->
            <!-----------------Register/home page -------------------------->
                {% include 'audio.html' %}
           <!------------------Home/register page end -------------------------->

<!------------------------------if the user is private------------------------------->
           {% if private_user %}
<!------------------------------if the user is private------------------------------->

   <!------------------------------calendar page--------------------------------->
               {% include 'tick_private/private_calendar.html' %}
   <!------------------------------calender page end--------------------------------->

   <!------------------------------PHONEBOOK PAGE--------------------------------->
               {% include 'tick_private/private_phonebook.html' %}
   <!------------------PHONEBOOK PAGE END-------------------------->

   <!------------------Text page -------------------------->
               {% include 'tick_private/private_text.html' %}
   <!------------------Text page end -------------------------->


<!------------------------------if the user is organization------------------------------->
           {% else %}
<!------------------------------if the user is organization------------------------------->


    <!------------------------------calendar page--------------------------------->
               {% include 'tick_org/org_calendar.html' %}
    <!------------------------------calender page end--------------------------------->

    <!------------------------------PHONEBOOK PAGE--------------------------------->
               {% include 'tick_org/org_phonebook.html' %}
    <!------------------PHONEBOOK PAGE END-------------------------->

    <!------------------Text page -------------------------->
               {% include 'tick_org/org_text.html' %}
    <!------------------Text page end -------------------------->

    <!------------------staff result page -------------------------->
               {% include 'tick_org/org_members.html' %} 
    <!-----------------staff result page end-------------------------->

    <!------------------credit page -------------------------->
               {% include 'tick_org/org_credit.html' %}  
    <!------------------credit page end -------------------------->


<!------------------------------if the user is organization------------------------------->
           {% endif %}
<!------------------------------end of the if private/super/staff user ------------------------------->

<!------------------------------if the user is not authenticated------------------------------->
        {% endif %}
<!------------------------------if the user is not authenticated------------------------------->


            <!-----------------Register/home page -------------------------->
                {% include 'home_page/home_page.html' %}
           <!------------------Home/register page end -------------------------->


          <!-----------------Register/home page -------------------------->
                {% include 'sign_up.html' %}
          <!------------------Home/register page end -------------------------->
          <!------------------member login page -------------------------->
                {% include 'loggin.html' %}
          <!------------------private login page end-------------------------->

          <!------------------contact page -------------------------->
                {% include 'contacts_page.html' %}
          <!------------------contact page end ----------------------->

          <!------------------------------services page--------------------------------->
               {% include 'home_page/services.html' %}
           <!------------------------------services Us page end--------------------------------->



	</ul>
  </article>
 <!--content end-->
	<!--footer -->
	<footer>
	   {% include 'footer_links.html' %}
		<!-- {%FOOTER_LINK} -->
	</footer>
	<!--footer end-->
  </div>

<script type="text/javascript">Cufon.now();</script>
<script>
$(window).load(function() {	
	$('.page_spinner').fadeOut();
	$('body').css({overflow:'visible'})
})
</script>
{% if user.is_authenticated %}
  {% if user.username == "tick" %}
    {% if name %}
    {% else %}
         <script src="/static/js/audio.js"></script>  
    {% endif %} 
  {% else %}
  {% endif %}
{% endif %}
<!--coded by humphie-->
</body>
</html>
