<!DOCTYPE html>
<html lang="en">
<head>
  <title>
    {% if user.is_authenticated %}
        {% if name %}
        
           Tick:: {{ name }} in {{ user.username }}
        
        {% else %}
           
           Tick:: {{ user.username }}
           
        {% endif %}
        
    {% else %}
        Tick::A Revelation!
    {% endif %}
  </title>
  <meta charset="utf-8">
  
   {% include 'header_tags.html' %}
   
</head>

<body onload="startTime()">
	<div class="page_spinner">
		<div></div>
	</div>
		<div class="main">
			<!--header -->
			<header>
     			 {% include 'links.html' %}
			</header>
			<!--header end-->
			<!--content -->
			<article id="content"><div class="ic"></div>
				<ul>
<!------------------------------if the user is authenticated------------------------------->
     {% if user.is_authenticated %}
<!------------------------------if the user is authenticated------------------------------->

<!------------------------------tock page-------------------------------------->
             {% include 'apps/profile.html' %}
<!------------------------------tock page-------------------------------------->


<!------------------------------tock page-------------------------------------->
             {% include 'apps/tock.html' %}
<!------------------------------tock page-------------------------------------->

<!------------------------------text page-------------------------------------->
             {% include 'apps/text.html' %}
<!------------------------------text page-------------------------------------->

<!------------------------------staff_members page----------------------------->
             {% include 'apps/credit.html' %}
<!------------------------------staff_members page----------------------------->

<!------------------------------calendar page---------------------------------->
             {% include 'apps/calendar.html' %}
<!------------------------------calendar page---------------------------------->
        

<!------------------------------phonebook page--------------------------------->
             {% include 'apps/phonebook.html' %}
<!------------------------------phonebook page--------------------------------->

         {% if super_user %}
<!------------------------------staff_members page----------------------------->
             {% include 'apps/members.html' %}
<!------------------------------staff_members page----------------------------->
          {% endif %}

<!------------------------------if the user is not authenticated----------------------------->
     {% else %}

            <!-----------------Register/home page ----------------------------->
                {% include 'home_page/home_page.html' %}
           <!------------------Home/register page end ------------------------->
        
     {% endif %}
<!------------------------------if the user is not authenticated------------------------------>


          <!-----------------Register/home page ------------------------------->
                {% include 'sign_up.html' %}
          <!------------------Home/register page end -------------------------->
          <!------------------member login page ------------------------------->
                {% include 'loggin.html' %}
          <!------------------private login page end--------------------------->

          <!------------------contact page ------------------------------------>
                {% include 'contacts_page.html' %}
          <!------------------contact page end -------------------------------->

          <!------------------------------services page------------------------>
               {% include 'home_page/services.html' %}
          <!------------------------------services Us page end----------------->



	</ul>
  </article>
 <!--content end-->
	<!--footer -->
	<footer>
	   {% include 'footer_links.html' %}
		<!-- {%FOOTER_LINK} -->
	</footer>
	<!--footer end-->
  </div>

<script type="text/javascript">Cufon.now();</script>
<script>
$(window).load(function() {	
	$('.page_spinner').fadeOut();
	$('body').css({overflow:'visible'})
})
</script>
{% if user.is_authenticated %}
  {% if user.username == "tick" %}
         <script src="/static/js/audio.js"></script>  
  {% endif %}
{% endif %}
<!--coded by humphie-->
</body>
</html>
