
   {% if user.username == 'tick' %}

             <li id="page_Credit">
		<div class="box">
                        	<div class="wrapper">
                                  
                   <h3><a href="#">Credit</a></h3>

                              <form id="creditForm" name="creditForm">
                                                 {% csrf_token %}
                                                  {% for field in creditForm %}
                                                  <div class="name">{{ field.label }}<br /></div>
                                                  
                                                  <div class="search">{{ field }}<br /></div>
                                                  
                                                  {% endfor %}
                                   <div class="btns">
                          <input type="button" class="button1" value="Credit" onClick="return creditFormValidator()">
                                   </div>
                               </form>
 
              <div id="creditRes"></div>                  

           

                    </div>
                </div>
	</li>


   
   {% endif %} 


